@{
	ViewBag.Title = "AMIT Test Page Display";
}

<div id="contentDisplayContainer">
	<h3>
		AMIT Test Content
	</h3>
	<p>
		Click <em>"Edit Test Content"</em> link to edit the content displayed below.
	</p>
	<div id="textContent">@HttpUtility.HtmlEncode(ViewBag.displayText)</div>
	@Html.ActionLink("Edit Test Content", "index")
	<p>
		adult education animator anime audio engineer beat maker beats become
		an educator business degree business management
	</p>
</div>
