@{
	ViewBag.Title = "AMIT Test Page Display 2";
}

<div id="contentDisplayContainer">
	<h3>
		AMIT Test Content
	</h3>
	<p>
		Click <em>"Edit Test Content"</em> link to edit the content displayed below.
	</p>
	<div id="textContent">@ViewBag.displayText</div>
	@Html.ActionLink("Edit Test Content", "index")
</div>
