@{
	ViewBag.Title = "AMIT Test Page Edit";
}
<style>
	#textContentEditArea {
		width: 75%;
		height: 250px;
	}

	#errorContainer { display: none; }
</style>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
	
<h1>
	AMIT Test Page
</h1>
<div id="contentEditContainer">
	<h3>
		Edit AMIT Test Content
	</h3>
	<p>
		Enter test AMIT content in the textarea below, click
		<em>"Display"</em>
		button to refresh this page and render input text as HTML content.
	</p>
	@using (Html.BeginForm("Display", "Default", FormMethod.Post))
	{
		<textarea id="textContentEditArea" name="inputText"></textarea>
		<input type="submit" value="Display" />
	}
</div>